:root{
--primarycolor:#ff274b;
--secondarycolor:#f7bcf7;
--lightcolor:#ffffff;
--bgcolor-1:#171a1c;
--bgcolor-2:#22282a;
--paddin:8%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}